*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
li{
	list-style: none;
}
body{
	background-image: radial-gradient(#0290ff, #2424ba, black);
}
.hide{
	display: none;
}
.xingzuo{
	padding: 100px 0px;
}
.xingzuo-ul{
	clear: both;
	width: 90%;
	height: auto;
	overflow: visible;
	margin: 0px auto;
}
.xingzuo-ul li{
	width: 25%;
	padding: 5px 5px 0px 5px;
	float: left;
}
.xingzuo-ul li img{
	width: 0;
	height: 90px;
	opacity: 0;
	border-radius: 3px;
	cursor: pointer;
}
.xingzuo-ul li img:hover{
	box-shadow: 0px 0px 16px -5px #fff;
	transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}
.xingzuo-ul li span{
	display: block;
	font-size: 12px;
	color: #fff;
}
.gender, .type, .yunshi{
	text-align: center;
}
.opt-btn{
	display: inline-block;
	margin: 10px 20px;
	border-radius: 5px;
	width: 200px;
	height: 60px;
	color: #fff;
	border: 1px solid #ccc;
	line-height: 60px;
	cursor: pointer;
}
.bg-blue:hover{
	background-color: blue;
	background-image: linear-gradient(#f4f2c9, #796504);
}
.bg-yellow:hover{
	background-color: yellow;
	background-image: linear-gradient(#f4f2c9, #796504);
}
h1{
	color: #fff;
	margin-bottom: 80px;
}
.opt-type{
	margin: 5px auto;
	width: 400px;
	line-height: 40px;
	border: 1px dashed #ccc;
	color: #fff;
	cursor: pointer;
}
.opt-type:hover{
	background-image: linear-gradient(#f4f2c9, #796504);
}
.yunshi{
	cursor: pointer;
}
.msg{
	width: 80%;
	margin: 0 auto;
	font-size: 14px;
	color: #fff;
	line-height: 30px;
}

.back{
	width: 200px;
	line-height: 40px;
	margin: 20px auto;
	border: 1px solid #ccc;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	background-image: linear-gradient(#f4f2c9, #796504);
}

@keyframes shake {
    0% {
        transform: scaleY(1) rotate(10deg);
        transform-origin: bottom center;
    }
    50% {
        transform: rotate(-10deg);
        transform-origin: bottom center;
    }
    100% {
        transform: scaleY(1) rotate(10deg);
        transform-origin: bottom center;
    }
}
 
/*这里用到了贝赛尔曲线来优化运动的效果*/
.shakeBtn {
    animation: shake 1.2s cubic-bezier(0, 0, 0.16, 0.2) 2;
}